parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - tests
    tmpDir: .phpstan.cache
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false